@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   overflow: hidden;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background-color: darksalmon;
}
div {
   position: absolute;
   bottom: 10%;
   background: rgba(0,0,0,0.1);
   padding: 10px 20px;
   font-size: 18px;
   font-weight: 900;
}
input {
   width: 50px;
   padding: 5px;
   font-size: 19px;
   font-weight: 900;
   background-color: darksalmon;
   border: none;
   text-align: center;
}
input:focus {
   outline: none;
}